<%- include('partials/header') %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap-social.css">
<link rel="stylesheet" href="css/styles.css">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap&family=Satisfy&display=swap&family=Oleo+Script&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap" rel="stylesheet">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>








<div class="switch"> Dark Mode:
  <span class="inner-switch">OFF</span>
</div>

<div id="Top" class="top-container">
  <a name="top-container"></a>
  <h1  class="name" style="font-size:8vw;">WellNessPal</h1>    
  
  <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  <h1 class="bio">Your goal is to become a better version of yourself. <br>WellnessPal is here to help you do that. <br>Input your stats, make a plan and view your progress.</P>
  <nav class="floating-menu">
    <h3> Menu</h3><br>
    <a href="#Top">Top</a><br>
    <a href="#Workouts">Workouts</a><br>
    <a href="#Diet">Diet</a><br>
    <a href="#Lifestyle">Lifestyle</a><br>
    <a href="#Social-media">Media</a><br>
  </nav>


  <div class="press">
    <img src="images/press2.png" alt="">
  </div>
  <!-- <div class="container-fluid">
    <div class="container">
       <p class="text-center">
      </p>
       <hr>
      <div class="row">
        <div class="col-md-3">
           <form role="form" method="post" action="register.php">
            <fieldset>							
              <p class="text-uppercase pull-center"> SIGN UP.</p>	
               <div class="form-group">
                <input type="text" name="username" id="username" class="form-control input-lg" placeholder="username">
              </div>

              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
              </div>
                <div class="form-group">
                <input type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Password2">
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  By Clicking register you're agree to our policy & terms
                </label>
                </div>
               <div>
                     <input type="submit" class="btn btn-md btn-secondary"   value="Register">
               </div>
            </fieldset>
          </form>
        </div>
        
        <div class="col-md-2">
        </div>
        
        <div class="col-md-3">
              <form role="form">
            <fieldset>							
              <p class="text-uppercase"> Login using your account: </p>	
                 
              <div class="form-group">
                <input type="email" name="username" id="username" class="form-control input-lg" placeholder="username">
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
              </div>
              <div>
                <input type="submit" class="btn btn-md btn-secondary" value="Sign In">
              </div>
                 
             </fieldset>
        </form>	
        </div>
      </div>
    </div>
    <p class="text-center">
    </p>
  </div> -->
</div>



<div class="middle-container">
<div id="Workouts" class="profile">
<h2 >WORKOUTS</h2>
<div class="skill-row">
  <!-- img class="image-4" -->
  <div class="image-container">
    <img src="https://media.giphy.com/media/l2R0actOL6bpMnIyI/giphy.gif" alt="">
  </div>
  <p >"The last three or four reps is what makes the muscle grow. 
    This area of pain divides the champion from someone else who is not a champion.
    There is no magic pill 💊"  -Arnold Schwarzenegger</p>
</div>
</div>
<br>
<hr>


<div id="Diet" class="skills-row">
<div class="skill-row">
  <h2>DIET</h2>
  <!-- img class="image-3" -->
  <div class="image-container">
    <img src="https://media.giphy.com/media/3ohjV0MRFCJORyUQec/giphy.gif" alt="">
  </div>
  <h3></h3>
  <p>  "We are hardwired to do what makes us feel good. Find healthy ways to celebrate 
    when you accomplish your new habits, hit your targets and achieve your goals, 
    regardless of how small they seem. This positive feeling can help propel you forward.” -Dr Fogg</p>
</div>


<div id="Lifestyle" class="skill-row">
  <!-- img class="image-1" -->
  <div class="image-container">
    <img src="https://media.giphy.com/media/8szwhbr6qWlTa/giphy.gif" alt="">
  </div>
  <h3>LIFESTYLE</h3>
  <p>"It’s much better to commit to a little change that you can actually 
    accomplish regularly than a huge one that you are never able to get done. 
    Years ago a trainer once said “only do as much yoga as feels 
    good” because “a little yoga done often is better than a lot of yoga done rarely.” 
    Turns out this is the secret to any lasting behavior change." -Rich Froning</p>
</div>

<div id="Weight-watch" class="skill-row">
  <!-- img class="image-2" -->
  <div class="image-container">
    <img src="https://media.giphy.com/media/l3q2GxQkcy3QSHVwk/giphy.gif" alt="">
  </div>
  <h3>WEIGHT WATCH</h3>
  <p>"It’s important to lose weight your way, not someone else’s. You need to 
    find changes that you are willing to make forever, not just for a day or 
    a week or until you’ve reached your goal." -Martha Smith</p>
</div>




</div>

<div class="bmi">
  <h2>We offer free BMI and Calories calculators to help everyone keep 
    track of their progress <br>so that you can have a better chance to 
    achieve your health goals.</h2><br><br><br><br><br><br><br>
  <h2>BMI Calculator</h2>
  <form name="bmiForm">
    Your Weight(lbs): <input type="text" name="weight" size="10"><br /><br>
    Your Height(in): <input type="text" name="height" size="10"><br /><br>
    <input type="button" value="Calculate BMI" onClick="Bmicalculator()"><br /><br>
    Your BMI: <input type="text" name="bmi" size="10"><br /><br>
    Analysis: <input type="text" name="meaning" size="29"><br /><br>
    <input type="reset" value="Reset" /><br>
    </form>

</div>


<div class="calories">
  <h2>Calorie Calculator</h2>
  <form name="calories-form">
    <label >Female:
      <input id="female" type="radio" name="gender" onchange="calories()">
    </label>
    <label>Male:
      <input id="male" type="radio" name="gender" onchange="calories()" checked>
    </label>
    <label>Age:
      <input id="age" type="number" oninput="calories()" value="50">
      years
    </label>
    <label>Height:
      <input id="height" type="number" oninput="calories()" value="70">
      (in)
    </label>
    <label>Weight:
      <input id="weight" type="number" oninput="calories()" value="225">
      (lbs)
    </label>
    <label>
      Your Base Metabolic Rate: <span id="totalCals"></span> kcal per day
    </label>
    <!-- <input type="reset" value="Reset"/> -->
  </form>

</div>


</div>


<div id="Social-media" class="bottom-container">
<a class="footer-link" href="https://www.instagram.com/mywellnesspals/" target="_blank">Instagram</a>
<a class="footer-link" href="https://twitter.com/mywellnesspals" target="_blank">Twitter</a>
<a class="footer-link" href="/">Website</a>
<p class="copyright">© 2021 WellNessPal.</p>
</div>

<script src="script.js"></script>







<%- include('partials/footer') %>
