<%- include('partials/header') %>


<link rel="stylesheet" href="css/styles.css">

<div class="">







  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
      <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&family=Sacramento&display=swap&family=Satisfy&display=swap&family=Oleo+Script&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap" rel="stylesheet">
      <!-- Bootstrap Scripts -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <meta charset="utf-8">
      <title>WellNessPal</title>
    </head>
    <body>
      <div class="switch"> Dark Mode:
        <span class="inner-switch">OFF</span>
      </div>
  
      <div id="Top" class="top-container">
        <a name="top-container"></a>
        <h1  class="name" style="font-size:8vw;">WellNessPal</h1>
        <a class="logout btn btn-dark btn-lg" href="/logout" role="button">Log Out</a>

        <!--<nav class="floating-menu">
            <h3> Menu</h3><br>
          <a href="#Top">Home</a><br>
          <a href="#Workouts">Workouts</a><br>
          <a href="#Diet">Diet</a><br>
          <a href="#Lifestyle">Lifestyle</a><br>
          <a href="#Social-media">Media</a><br>
        </nav>
        -->
        <div class="middle-container">
          <div id="Workouts" class="profile">
            <h2 >Your Page</h2>
            <a class="btn btn-dark btn-lg" href="/blog" role="button">Blog</a>
            <div class="image-container">
              <img src="images/me.png" alt="">
            </div>
            <div class="skill-row">
              <!-- img class="image-4" -->
             
              <p >WELCOME LAVOL</p>
              <p >Age: 25</p>
              <p >Weight: 200 LBS</p>
              <p >Goal: Get a 6 pack.</p>
            </div>
          </div>
        
        <div class="lower-container">
          <div id="Recommendation" class ="profile">
            <h2>Recommended Workouts for You!</h2>
            <div>
              <img class="recommended-workout-img" src="images/abs.png" alt="Ab workout">
              <ul>
                <li>10 Situps</li>
                <li>10 Reverse Crunches</li>
                <li> 10 Sitting Twists </li>
                <li> 8 Scissors </li>
                <li> 8 Leg raises </li>
                <li> 20 Flutter Kicks </li>
                <li> 30 Sec Plank </li>
                <li> 30 Sec Elbow Plank </li>
                <li> 8 Body Saw </li>
              </ul>
            </div>
          </div>
      </div>
  </div>
  
  
  <div id="Social-media" class="bottom-container">
    <a class="footer-link" href="https://www.instagram.com/mywellnesspals/" target="_blank">Instagram</a>
    <a class="footer-link" href="https://twitter.com/mywellnesspals" target="_blank">Twitter</a>
    <a class="footer-link" href="index.html">Website</a>
    <p class="copyright">© 2021 WellNessPal.</p>
  </div>
  
  <script src="script.js"></script>
  
  
    </body>
  </html>
  
  










  <div class="*jumbotron text-center">
    <div class="container">
      <!-- <i class="fas fa-key fa-6x"></i> -->
      <!-- <h1 class="display-3">Welcome to your homepage</h1>
      <p class="secret-text">This is your wellness space.</p> -->
  
      <!-- (<% %>)marks out the part of code that is js) -->
  
     
  <% usersWithSecrets.forEach(function(user){ %>
        <p class="secret-text"><%=user.secret%></p>
      <% }) %>  
     
  
      <hr>
      
      <!-- <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit your wellness statement of the day</a> -->
    </div>
  </div>

</div>


<%- include('partials/footer') %>
